<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Auto-Ecole du 8 Mai - {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('/images/favicon.png') }}"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger shadow">
        <a class="navbar-brand" href="/"><img id="logo" src="{{ asset('images/logo.png') }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/evaluation">Evaluation</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Permis
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/permisaac">Permis AAC</a>
                        <a class="dropdown-item" href="/permisb">Permis B</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Conduite
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/conduitesupervisee">Conduite supervisée</a>
                        <a class="dropdown-item" href="/conduiteseule">Conduite seule</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/attestation">Attestation boîte auto/manuelle</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Annulation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('annulationaveccode') }}">Avec code</a>
                        <a class="dropdown-item" href="{{ path('annulationsanscode') }}">Sans code</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/tarifs">Tarifs au détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/parcoursformation">Parcours de formation</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

<footer class="navbar-dark bg-dark shadow-lg text-white">
    <div class="container">
        <div class="row">
            <div id="footer-horaires" class="col-lg-4">
                <h5>Horaires</h5>
                Bureau et test de code
                <ul>
                    <li>Lundi et Mercredi : 18:00 - 19:00</li>
                    <li>Vendredi : 11:00 - 12:00, 18:00 - 19:00</li>
                </ul>
                Cours de sécurité routière
                <ul>
                    <li>Lundi et Mecredi : 19:00 - 20:00</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Contacts</h5>
                <ul>
                    <li><a href="mailto:contact@autoecoledu8mai.com" class="text-white">contact@autoecoledu8mai.com</a></li>
                    <li>Bureau : <a href="tel:0240051443" class="text-white">02 40 05 14 43</a></li>
                    <li>Portable : <a href="tel:0624555557" class="text-white">06 24 55 55 57</a></li>
                </ul>
                <div class="fb-page"
                     data-href="https://www.facebook.com/autoecoledu8mai"
                     data-hide-cover="false"
                     data-show-facepile="false"
                     data-width="340"></div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Liens utiles</h5>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col">
                                <a href="https://www.securite-routiere.gouv.fr" target="_blank">
                                    <img id="logo_securite-routiere" class="col" src="{{ asset('/images/logo_securite-routiere.jpg') }}">
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://public.codesrousseau.fr" target="_blank">
                                    <img id="logo_pass-rousseau" class="col" src="{{ asset('/images/logo_pass-rousseau.png') }}">
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://www.securite-routiere.gouv.fr/passer-son-permis-de-conduire/financement-du-permis-de-conduire/permis-1-eu-par-jour/definition-du" target="_blank">
                                    <img id="logo_permis-1-euro" class="col" src="{{ asset('/images/logo_permis-1-euro.png') }}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><a href="{{ asset('/files/Modele Attestation Hebergement.pdf') }}" target="_blank" class="text-white">Modèle attestation d'hébergement</a></li>
                            <li>Les vérifications</li>
                            <li><a href="https://ants.gouv.fr" target="_blank" class="text-white">ANTS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">Agrément n° E1404400190 - Siret n° 801 408 196 00013 - APE 8553Z</p>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v4.0"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
